html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 70rem;
}

button {
  width: 17.5rem;
}

.group {
  display: flex;
  flex-direction: row;
}

.button-panel {
  margin: 2rem auto;
  width: 100%;
  text-align: center;
}

input#result {
  text-align: right;
  width: 100%;
  margin: 0 1rem;
  background: rgb(177, 177, 177);
  color: white;
}

.display {
  display: flex;
  justify-content: center;
}
