html {
    font-size: 62.5%;
  }

body {
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-pannel{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 28rem;
    text-align: center;
}

input#result {
    text-align: right;
}