$grey: #858694;
$orange: #f5913e;

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80rem;

  h3 {
    font-size: 2rem;
    width: 50%;
    text-align: center;
  }

  .navbar-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-link {
      font-size: 1.5rem;
      margin: 0 3rem;
    }
  }

}

.calculator {
  width: 70rem;
}

button {
  width: 25%;
  font-size: 2rem;
  border-radius: 0;
  border-style: solid;
  background: white;

  &:hover {
    scale: 0.95;
  }
}

.group {
  display: flex;
  flex-direction: row;
  height: 10rem;
}

.button-panel {
  width: 70rem;
  text-align: center;
}

input {
  text-align: right;
  font-size: 3rem;
  width: 70rem;
  background: grey;
  color: white;
  font-weight: bold;
  padding: 0 2rem;
  border: 0;
}

.display {
  display: flex;
  justify-content: center;
  height: 10rem;
}
